* {
    font-family: 'Roboto', sans-serif;
}

.fix_menu {

    position: fixed;
    right: 0;
    left: 0;
    top: 20;
    z-index: 10;
}

header {
    position: block;
    height: 50px;
    width: 100%;
    background-color: #212121;
}


.menu {
    display: flex;
    list-style-type: none;
    padding: 13px 70px;
    margin: 0;
    justify-content: space-between;
}

/* header .nav {
    
} */

.menu .menu_link {
    color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

.menu .menu_item {
    border-right: 2px black dotted;
    padding-right: 28px;

}

.head {
    margin-top: 50px;
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, 0.6);
}

.head .text_logo {
    /* Style for "Официальны" */
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    margin-top: 6px;
}

.head .head_logo {
    display: block;
    margin-top: 16px;
    max-width: 100%;
}

.head .head_img {
    max-width: 100%;
}

.head .call_us {
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    margin-top: 19px;
}

.head .head_tel {
    color: #ffffff;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 8px;
    line-height: 15px;
}

.head .col-sm-2 {
    text-align: right;
}

.head .head_btm {

    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: 3px solid rgba(0, 0, 0, 0.07);
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    border: none;
    border-radius: 4px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.promo {
    min-height: 800px;
    background: url(../img/first_screen.jpg) center center/cover no-repeat;
}

.promo .promo_h1 {
    text-align: center;
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 201px;
}

.promo .promo_h2 {
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.promo p {
    margin-left: 5px;
    margin-top: 23px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
} 

.promo .promo_btn {
/* Style for "Rounded Re" */
    display: block;
    margin: 118px auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);

    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.advant {
    min-height: 900px;
}

.advanteg{

    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 112px;
    height: 24px;
    background: black;
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    border: 0;
    text-align: center;
}

.reason {
    margin-top: 38px;
    text-align: center;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.advant .container .ring {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
    margin: 0 auto;
    padding: 0;
}

.advant .row_padd {
    margin-top: 35px;
}

/* .adv_img {
    display: block;
    margin: 0 auto;
   
} */

.col_padd {
    padding: 0;
}

.advant .adv_text {
    padding-right: 20px;
    text-align: left;
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    

}

.advant .adv_text p {
    padding-right: 20px;
    text-align: justify;
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    
}    